@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  height: 500px;
  background-image: url("assets/desktop\ files/header.png");
}

.borderless li {
  border: none;
  background-color: none;
}
